.cms-table{
    background-color: #fff;
    border-collapse: collapse;
    width: 40%;
    text-align: center;
    border-radius: 8px;

}
.thead-detail{
    border-bottom: 1px solid;
}
.thead-detail tr{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.tbody-details tr{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}