.Product-table{
    border-collapse: collapse;
    width: 100%;
    background-color: var(--white);
    margin-top: 15px;
    border-radius: 10px;
    
}
.Product-table tr{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.thead-tr{
   margin: 15px 0px;
  

}


.product-table-img{
    max-width: 140px;
    width: 100%;
}
.product-table-btn{
    all: unset;
    padding: 8px 10px;
    background-color: var(--main-blue);
    border-radius: 6px;
    cursor: pointer;
    margin-right: 5px;
    color: var(--white);
}
.tr-body{
    margin-bottom: 5px;
    margin-top: 5px;
}