@import "./reset.css";

@font-face {
  font-family: "vazir";
  src: url("/src/asset/fonts/Vazirmatn-VariableFont_wght.ttf");
}
:root {
  --white: #ffffff;
  --white-50: #f0f0f0;
  --main-blue:#265073;
  --blue: #40a2e3;
  --beige: #fff6e9;
  --green: #0d9276;
  --light-green: #bbe2ec;
}
body {
  background-color: var(--beige);
}
*,
body,
html {
  font-family: "vazir";
}
